<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Reset your bStats account password.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Reset Password</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include templates/navigation.ejs %>
<main>
    <div class="container">
        <br><br>
        <div class="hide-on-med-and-down"><br><br></div>
        <div class="row">
            <% if (error) { %>
            <h5 class="red-text col s12 center-align"><%= error %></h5>
            <% } else if (success) { %>
            <h5 class="green-text col s12 center-align"><%= success %></h5>
            <br><br>
            <div class="col s12 center-align">
                <a href="/login" class="btn <%= customColor1 %>">Go to Login</a>
            </div>
            <% } else { %>
            <h5 class="<%= customColor1 %>-text col s12 center-align">Reset your password</h5>
            <% } %>
            
            <% if (!success && token) { %>
            <br><br>
            <div class="col s12 m8 l6 offset-m2 offset-l3 z-depth-1 grey lighten-4 row">
                <form class="col s12" method="post">
                    <br>
                    <input type="hidden" name="token" value="<%= token %>">
                    
                    <% if (typeof username !== 'undefined') { %>
                    <div class="row">
                        <div class="col s12">
                            <p class="center-align">Resetting password for user: <strong><%= username %></strong></p>
                        </div>
                    </div>
                    <% } %>
                    
                    <!-- New Password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="newPassword" type="password" name="newPassword" required minlength="6">
                            <label for="newPassword">New Password</label>
                            <span class="helper-text" data-error="Password must be at least 6 characters" data-success="Valid">Minimum 6 characters</span>
                        </div>
                    </div>
                    <!-- Confirm New Password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="confirmPassword" type="password" name="confirmPassword" required>
                            <label for="confirmPassword">Confirm New Password</label>
                            <span class="helper-text" id="password-match-helper"></span>
                        </div>
                    </div>
                    <br/>
                    <!-- Reset Password button -->
                    <div class='row'>
                        <button type='submit' name='btn_reset_password' class='col s12 btn btn-large waves-effect <%= customColor1 %>' id="reset-password-btn" disabled>
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
            <% } %>
            
            <% if (!token && !success) { %>
            <br><br>
            <div class="col s12 center-align">
                <p>If you need to reset your password, please contact an administrator.</p>
                <a href="/login" class="btn <%= customColor1 %>">Back to Login</a>
            </div>
            <% } %>
        </div>
    </div>
</main>
<% include templates/footer.ejs %>

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<script>
$(document).ready(function() {
    function checkPasswordsMatch() {
        const newPassword = $('#newPassword').val();
        const confirmPassword = $('#confirmPassword').val();
        const helper = $('#password-match-helper');
        const button = $('#reset-password-btn');
        
        if (confirmPassword === '') {
            helper.text('');
            helper.removeClass('red-text green-text');
            button.prop('disabled', true);
            return;
        }
        
        if (newPassword === confirmPassword) {
            helper.text('Passwords match');
            helper.removeClass('red-text').addClass('green-text');
            button.prop('disabled', false);
        } else {
            helper.text('Passwords do not match');
            helper.removeClass('green-text').addClass('red-text');
            button.prop('disabled', true);
        }
    }
    
    $('#newPassword, #confirmPassword').on('input', checkPasswordsMatch);
    
    // Form validation
    $('form').on('submit', function(e) {
        const newPassword = $('#newPassword').val();
        const confirmPassword = $('#confirmPassword').val();
        
        if (!newPassword || !confirmPassword) {
            e.preventDefault();
            M.toast({html: 'All fields are required!'});
            return;
        }
        
        if (newPassword.length < 6) {
            e.preventDefault();
            M.toast({html: 'New password must be at least 6 characters long!'});
            return;
        }
        
        if (newPassword !== confirmPassword) {
            e.preventDefault();
            M.toast({html: 'Passwords do not match!'});
            return;
        }
    });
});
</script>

<% include templates/globalScripts.ejs %>

</body>
</html>